.ToDoItem {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-text-field {
    width: 70%;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
    margin-right: 10px;
}
.todo-btn-field{
    width: 30%;

}
.ToDoItem-Text:first-child {
    border-bottom: 1px solid darkred;

}
